.title[b-2t1we7vx7x], content p[b-2t1we7vx7x] {
    color: #ba1313;
}

@font-face {
    font-family: "Helvetica";
    src: url("C:/Users/Desktop/web/practice/asp/Bakery/wwwroot/Helvetica/Helvetica.ttf");
}

section[b-2t1we7vx7x] {
    font-family: "Helvetica";
}