@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main my-2">
    <h1 class="text-center title my-5">About Us</h1>
    <content class="d-flex">
        <div class="row justify-content-center">
            <div class="theStory pb-5 col-9">
                <div>
                    <h2 class="mb-3">THE STORY BEHIND OUR ORGANIZATION</h2>
                    <p>
                        Kyaung Thar Association (The Students of Myanmar) was founded when a group of individuals with a team named Revolutionary Insiders decided to turn their shared interests into an official Student Organization to help local students get the right resources they need and to spread the current student situation happening in Myanmar. After a couple of quick meetings, we were on our way to create something extraordinary.
                    </p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="Value pb-5 col-9">
                <div>
                    <h2 class="mb-3">VALUE</h2>
                    <p>
                        Our Kyaung Thar Association is dedicated to supporting Myanmar students by serving as a platform with educational resources and networking opportunities. We aim to become a catalyst of democracy in Myanmar by spreading awareness about Myanmar, empowering the youth, and creating positive social change.
                    </p>
                </div>
            </div>
        </div>
    </content>
</section>