@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home">
      <!-- carosel slider -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="/Data/images/carousel1.jpg"
              alt="First slide"
            />
            <div class="overlay"></div>
            <h1>Going for What We Believe...</h1>
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="/Data/images/carousel2.jpg"
              alt="Second slide"
            />
            <div class="overlay"></div>
            <h1>Empowering The Community...</h1>
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="/Data/images/carousel3.jpg"
              alt="Third slide"
            />
            <div class="overlay"></div>
            <h1>Curiosity Into Reality...</h1>
          </div>
        </div>
      </div>

      <!-- Brief Intro -->
      <div class="brief_intro">
        <h1 class="title fade-in">What is Kyaung Thar Association</h1>
        <div class="row">
          <div class="col-lg-4 intro_content">
            <img src="/Data/images/intro1.png" alt="" />
            <h4>Personilized Learning</h4>
            <p>
              Students practice at their own pace, first filling in gaps in
              their understanding and then accelerating their learning.
            </p>
          </div>
          <div class="col-lg-4 intro_content">
            <img src="/Data/images/intro2.png" alt="" />
            <h4>Encouraging Creativity</h4>
            <p>
              Students practice at their own pace, first filling in gaps in
              their understanding and then accelerating their learning.
            </p>
          </div>
          <div class="col-lg-4 intro_content">
            <img src="/Data/images/intro3.png" alt="" />
            <h4>Empowering Youths</h4>
            <p>
              Students practice at their own pace, first filling in gaps in
              their understanding and then accelerating their learning.
            </p>
          </div>
        </div>
      </div>
      <!-- purpose_aim -->
      <div class="purpose_aim">
        <div class="row">
          <div class="col-lg-6 purpose_img slide-left">
            <img src="/Data/images/purpose.png" alt="" />
          </div>
          <div class="col-lg-6 purpose_content slide-right">
            <div class="purpose_text">
              <h1 class="title">Our Purpose And Aim</h1>
              <p>
                Students practice at their own pace, first filling in gaps in
                their understanding and then accelerating their learning. Build
                a deep, solid understanding in math, science, and more
              </p>
              <ul>
                <li>To encourage creativity...</li>
                <li>academic achievement, social mobility...</li>
                <li>social equality, gender equality...</li>
              </ul>
              <a class="see_more" href="">See More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review and Feedbacks -->
      <div class="review">
        <h1 class="title fade-in">Review & Feedbacks</h1>

        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide fade-in"
          data-bs-ride="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="review_slide">
                <div class="review_card">
                  <div class="avatar_img">
                    <img src="/Data/images/testimonal3.jpg" alt="" />
                  </div>
                  <div class="review_text">
                    <p>
                      “Lobortis leo pretium facilisis amet nisl at nec.
                      Scelerisque risus tortor donec ipsum consequat semper
                      consequat adipiscing ultrices."
                    </p>
                    <h5 class="review_title">John Nathan</h5>
                    <p class="review_subtitle">Athlete</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="review_slide">
                <div class="review_card">
                  <div class="avatar_img">
                    <img src="/Data/images/testimonal4.jpg" alt="" />
                  </div>
                  <div class="review_text">
                    <p>
                      “Lobortis leo pretium facilisis amet nisl at nec.
                      Scelerisque risus tortor donec ipsum consequat semper
                      consequat adipiscing ultrices."
                    </p>
                    <h5 class="review_title">John Nathan</h5>
                    <p class="review_subtitle">Athlete</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="review_slide">
                <div class="review_card">
                  <div class="avatar_img">
                    <img src="/Data/images/testimonal5.jpg" alt="" />
                  </div>
                  <div class="review_text">
                    <p>
                      “Lobortis leo pretium facilisis amet nisl at nec.
                      Scelerisque risus tortor donec ipsum consequat semper
                      consequat adipiscing ultrices."
                    </p>
                    <h5 class="review_title">John Nathan</h5>
                    <p class="review_subtitle">Athlete</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

